.App {
  display: inline-block;
}

.car {
  display: flex;
  flex-flow: wrap column;
  align-content: center;
  align-items: center;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 1px grey;
  padding: 10px;
  margin-right: 10px;
  width: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
