.AnswerItem {
    border: 1px solid rgb(53, 40, 40);
    color: rgb(41, 26, 26);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    background: rgba(101, 250, 101, 0.4);
}

.AnswerItem:hover {
    background: rgb(86, 245, 74);
    transition: background 0.3s ease-in-out;
}

.AnswerItem.success {
    background: rgba(6, 180, 3, 0.684);
}

.AnswerItem.failure {
    background: rgba(248, 69, 72, 0.664);
}