.FinishedQuiz {
    padding: 20px;
}

.FinishedQuiz ul {
    border: 1px solid rgb(53, 40, 40);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 10px;
}

.FinishedQuiz button:hover {
    background: rgb(86, 245, 74);
}

.i-success {
    color: rgba(17, 193, 14, 0.79);
}

.i-failure {
    color: rgba(248, 69, 72, 0.893);
}