.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(50, 205, 50, 0.458) 10%, rgba(255, 255, 0, 0.337) 100%);
}

.Quiz h1 {
    text-shadow: 1px 1px gray;
    text-align: center;
    color: rgb(53, 40, 40);
}

.QuizWrapper {
    width: 600px;
}