.car-component {
    border: 1px solid #ccc;
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    transition: border, box-shadow 0.3s;
    cursor: pointer;
}

.car-component:hover {
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.car-input:active, .car-input:focus {
    outline: none;
}

.car-input.green {
    border: 2px solid rgba(50, 205, 50, 0.492);
    border-radius: 5px;
}

.car-input.red {
    border: 2px solid rgba(236, 60, 57, 0.583);  
    border-radius: 5px;
}

.car-input.bold {
    border-radius: 5px;
    font-weight: bold;
}

.car-btn {
    margin-left: 10px;
}

.detail-car-link {
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    border: 1ps solid lightgrey;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(240, 255, 242);
}

.detail-car-link:hover {
    background-color: rgb(175, 249, 185);
}